<ol class="breadcrumb">
  <li><%= link_to "Dashboard", root_path %></li>
  <li class="active">Settings</li>
</ol>

<h2>Settings</h2>

<h4><%= link_to "Colors", colors_path %></h4>

<h4><%= link_to "Roles", roles_path %></h4>

<h4><%= link_to "Skills", skills_path %></h4>

<% if current_admin %>
  <h4><%= link_to('Logout', destroy_admin_session_path, :method => :delete) %></h4>
  <h4><%= link_to('Change Password', edit_admin_registration_path(current_admin.id)) %></h4>
<% else %>
  <h4><%= link_to('Login', new_admin_session_path) %></h4>
<% end %>
