<ol class="breadcrumb">
  <li><%= link_to "Dashboard", root_path %></li>
  <li><%= link_to "People", people_path %></li>
  <li class="active"><%= @person.name %></li>
</ol>

<%= render 'form' %>

<%= link_to 'Back', root_path %>
