<ol class="breadcrumb">
  <li><%= link_to "Dashboard", root_path %></li>
  <li class="active">People</li>
  <li><%= link_to "New Person", new_person_path, class: "btn btn-default" %></li>
</ol>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Roles</th>
      <th>Projects</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.name %></td>
        <td><% person.roles.each do |role| %>
          <%= role.name %>&nbsp;&nbsp;
        <% end %></td>
        <td><% person.projects.each do |project| %>
          <%= project.name %>&nbsp;&nbsp;
        <% end %></td>
        <td>
          <%= link_to 'Edit', edit_person_path(person) %> |
          <%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

