<h3><%= @person.name %></h3>

<p>
  <strong>Roles:</strong>
  <%= @person.roles.map{ |r| r.name }.to_sentence %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @person.skills.map{ |s| s.name }.to_sentence %>
</p>

<p>
  <strong>Band:</strong>
  <%= @person.band %>
</p>

<p>
  <strong>Projects:</strong>
  <%= @person.projects.map{ |p| p.name }.to_sentence %>
</p>

