<% project ||= @project ||= Project.new %>
<div class="row">
  <div class="project-edit">
    <div class="col-md-2">
      <%= form_for(project) do |f| %>
        <% if project.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

            <ul>
            <% project.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </div>
        <div class="form-group">
          <%= f.label :url %><br>
          <%= f.text_field :url %>
        </div>
        <div class="actions">
          <%= f.submit "Update Project", class: "btn btn-default" %>
        </div>
      <% end %>
    </div>
    <div class="col-md-2">
      <%= label_tag "People" %><br>
      <div class="people-list">
        <%= project.people.map { |p| p.name }.to_sentence %>
      </div>
      <% if project %>
        <%= form_for project, url: { controller: "projects", action: "add_people", id: project }, html: { class: "inline" } do |f| %>
          <%= collection_select :people, :people, Person.all.reject { |p| p.projects.include? project }, :id, :name, {}, { multiple: true, class: "selectize" } %>
          <%= f.submit "Add People", class: "btn btn-default" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
