<% project ||= @project %>
<div class="project">
  <h3 class="title">
    <%= link_to fa_icon("pencil"), edit_project_path(project), class: "#{"invisible" unless current_admin}" %>
    <span class="name"><strong><%= project.name %></strong></span>
    <span class="link"><%= link_to fa_icon("globe"), project.url %></span>
  </h3>
  <ul id="<%= project.id %>" class="people grid unstyled">
    <% project.people.each do |person| %>
      <div id="<%= person.id %>" class="grid-item grid-item-active">
        <%= render person %>
      </div>
    <% end %>
  </ul>
  <% if current_admin %>
    <div class="actions">
      <%= form_for project, url: { controller: "projects", action: "add_people", id: project }, html: { class: "inline" } do |f| %>
        <%= collection_select(:people, :people, Person.all.reject { |p| p.projects.include? project }, :id, :name) %>
        <%= options_from_collection_for_select(Person.all, :id, :name) %>
        <%= f.submit "+", class: "btn btn-default btn-xs btn-round" %>
      <% end %>
    </div>
  <% end %>
</div>

