<% project ||= @project %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= link_to fa_icon("pencil"), edit_project_path(project) %>
      <span class="name"><strong><%= project.name %></strong></span>
      [ <%= link_to "Wiki", project.url %> ]
    </h3>
  </div>
  <div class="panel-body">
    <ul id="<%= project.id %>" class="grid unstyled media-list">
      <% project.people.each do |person| %>
        <div id="<%= person.id %>" class="grid-item pull-left">
          <%= render person %>
        </div>
      <% end %>
      <% if project.people.empty? %>
        <p>No one is assigned to this project.</p>
      <% end %>
    </ul>
    <div class="actions">
      <%= form_for project, url: { controller: "projects", action: "add_people", id: project }, html: { class: "inline" } do |f| %>
        <%= collection_select(:people, :people, Person.all.reject { |p| p.projects.include? project }, :id, :name) %>
        <%= options_from_collection_for_select(Person.all, :id, :name) %>
        <%= f.submit "Add", class: "btn btn-default" %>
      <% end %>
      <%= link_to "New Person", new_person_path({project: project}), class: "btn btn-default" %>
    </div>
  </div>
</div>

