<p id="notice"><%= notice %></p>

<h1 class="<%= @color.name.downcase %>-back"> <%= @color.name %> </h1>
<p>
  <strong>Hex Value:</strong>
  <%= @color.hex %>
</p>

<%= link_to 'Edit', edit_color_path(@color) %> |
<%= link_to 'Back', colors_path %>
